@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container" style="text-align: center;">
        <h1>About</h1>
        <p>I am a 19 year old student learning programming.</p>
    </div>
</div>
