@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container" style="text-align: center;">
        <h1>Contact</h1>
        <p>Name: Daniel Eriksson<br />E-Mail: daniel_eriksson97@hotmail.com<br />Phone: 0704242175</p>
    </div>
</div>
