@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container" style="text-align: center;">
        <h1>Home page</h1>
        <p>Visit my Github page!</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/DanielT4">Github</a></p>
    </div>
</div>